<h1>Welcome to the To Do App</h1>


<% if @projects.any?() %>
<h3>Here are your Projects:</h3>
  <ul>
    <% @projects.each() do |project| %>
      <li><a href="projects/<%= project.id()%>"><%= project.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Create a Project Below:</p>
<% end %>

<div class="container">
  <form action="/project_success" method="post">
    <div class="form-group">
      <label class="form-label" for='name'>Create a new project:</label>
      <input class="form-control" id='title' name='title' type='text' placeholder="Project Name" autofocus>
      <button type="submit" class="button btn">Create Project</button>
    </div>
  </form>
</div>


<% if @projects.any?() %>
  <% if @volunteers.any?() %>
    <h3>Here are your Volunteers:</h3>
    <ul>
      <% @volunteers.each() do |volunteer| %>
        <li><a href="volunteers/<%= volunteer.id()%>"><%= volunteer.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>You have no volunteers. Create one below:</p>

  <% end %>
  <div class="container">
    <form action="/volunteer_success" method="post">
      <div class="form-group">
        <label class="form-label" for='name'>Create a new volunteer:</label>
        <input class="form-control" id='name' name='name' type='text' placeholder="Volunteer Name" autofocus>
        <button type="submit" class="button btn">Create Volunteer</button>
      </div>
    </form>
  </div>
<% else %>
  <p>Volunteers can be added to projects after one exists.<br> Please create one above:</p>
<% end %>
