<h1>Here is your new Project:</h1>

<h1><%= @projects.title() %></h1>

<h3>Change the project's title:</h3>

<a href="/projects/<%= @projects.id() %>/edit">Edit Project</a>

<p>Currently volunteering:</p>

<!-- Loop through all those that match this current id right? -->


<%= @projects.volunteers2%>

<div class="container"><br>
<a href="/">Home</a>
</div>
