<h1>Here is your new Project:</h1>

<h1><%= @projects.title() %></h1>

<h3>Change the project's title:</h3>

<a href="/<%= @projects.id() %>/edit">Edit Project</a>



<div class="container">
<a href="/">Home</a>
</div>
