<h1>Success!</h1>
<p>Your changes have been saved.</p>

<p>
name: <%= @volunteers.name %><br>
id: <%= @volunteers.project_id %>
</p>

<div class="container">
  <a href="/"><button class="button btn">Return Home</button></a>
</div>
